{% extends 'vocabularies/vocabularies_index.html' %}
{% block vocab_section %}About{% endblock %}
{% block content %}

<p>The vocabularies is used to manage vocabularies used by the UNT Libraires digital infrastructure which includes:<br>The <a href="http://digital.library.unt.edu">UNT Digital Library</a>, <a href="http://texashistory.unt.edu">The Portal to Texas History</a> and the <a href="http://gateway.okhistory.org">Gateway to Oklahoma History</a>.</p>

<p>If you have questions, comments or need a new value added to a vocabulary please contant Daniel Alemneh at <a href="mailto:daniel.alemneh@unt.edu">daniel.alemneh@unt.edu</a></p>

{% endblock %}

